In [1]:
import numpy as np
import pandas as pd
import pymysql
from sqlalchemy import create_engine
import math
import time

In [2]:
#must haveeee
engine = create_engine('mysql+pymysql://root:123456789@localhost:3306/wongnai')

In [3]:
sql_review_df = pd.read_sql_query('SELECT reviewer_id,reviewed_item_id,rating from w_review', engine)
sql_review_df.head()

/opt/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

   reviewer_id  reviewed_item_id  rating
0            5                 8       4
1            6                 9       5
2            4                 6       4
3            5                10       4
4            4                14       4

In [4]:
#res_dict=np.load('res_dict.npy').item()

In [5]:
#len(set(res_dict)-set(sql_review_df.reviewed_item_id))

In [6]:
#sql_review_df[sql_review_df.reviewed_item_id.isin(list(res_dict))]

In [7]:
review=sql_review_df.groupby(['reviewer_id','reviewed_item_id']).mean()
review

                              rating
reviewer_id reviewed_item_id
1           4                    5.0
            6                    5.0
            14                   5.0
            20                   5.0
            27                   5.0
            38                   5.0
            122                  5.0
            126                  5.0
            187                  5.0
            193                  5.0
            210                  5.0
            213                  5.0
            221                  5.0
            230                  5.0
            270                  5.0
            280                  5.0
            350                  5.0
            417                  5.0
            419                  5.0
            448                  5.0
            536                  5.0
            569                  5.0
            680                  5.0
            808                  5.0
            837                  5.0
            869                  5.0
            880                  5.0
            916                  5.0
            938                  5.0
            958                  5.0
...                              ...
3441584     387877               5.0
3441601     180023               5.0
3441627     387861               5.0
3441637     275090               5.0
3441647     387885               5.0
3441698     275728               5.0
3441701     155173               5.0
3441705     275728               5.0
3441711     156359               4.0
3441714     314507               5.0
3441729     942                  4.0
            290330               4.0
3441730     242903               5.0
3441736     11685                5.0
3441738     387913               5.0
3441742     311413               5.0
3441744     189157               5.0
3441747     327340               4.0
3441753     156359               5.0
3441755     293868               2.0
3441765     156359               3.0
3441787     269399               5.0
3441800     340314               4.0
3441803     280521               5.0
3441808     387926               5.0
3441817     156359               5.0
3441820     198524               5.0
3441822     384197               5.0
3441828     387936               5.0
3441837     156359               2.5

[1224517 rows x 1 columns]

In [8]:
review.reset_index()

         reviewer_id  reviewed_item_id  rating
0                  1                 4     5.0
1                  1                 6     5.0
2                  1                14     5.0
3                  1                20     5.0
4                  1                27     5.0
5                  1                38     5.0
6                  1               122     5.0
7                  1               126     5.0
8                  1               187     5.0
9                  1               193     5.0
10                 1               210     5.0
11                 1               213     5.0
12                 1               221     5.0
13                 1               230     5.0
14                 1               270     5.0
15                 1               280     5.0
16                 1               350     5.0
17                 1               417     5.0
18                 1               419     5.0
19                 1               448     5.0
20                 1               536     5.0
21                 1               569     5.0
22                 1               680     5.0
23                 1               808     5.0
24                 1               837     5.0
25                 1               869     5.0
26                 1               880     5.0
27                 1               916     5.0
28                 1               938     5.0
29                 1               958     5.0
...              ...               ...     ...
1224487      3441584            387877     5.0
1224488      3441601            180023     5.0
1224489      3441627            387861     5.0
1224490      3441637            275090     5.0
1224491      3441647            387885     5.0
1224492      3441698            275728     5.0
1224493      3441701            155173     5.0
1224494      3441705            275728     5.0
1224495      3441711            156359     4.0
1224496      3441714            314507     5.0
1224497      3441729               942     4.0
1224498      3441729            290330     4.0
1224499      3441730            242903     5.0
1224500      3441736             11685     5.0
1224501      3441738            387913     5.0
1224502      3441742            311413     5.0
1224503      3441744            189157     5.0
1224504      3441747            327340     4.0
1224505      3441753            156359     5.0
1224506      3441755            293868     2.0
1224507      3441765            156359     3.0
1224508      3441787            269399     5.0
1224509      3441800            340314     4.0
1224510      3441803            280521     5.0
1224511      3441808            387926     5.0
1224512      3441817            156359     5.0
1224513      3441820            198524     5.0
1224514      3441822            384197     5.0
1224515      3441828            387936     5.0
1224516      3441837            156359     2.5

[1224517 rows x 3 columns]

In [9]:
review.rating.mean()

3.8847275568396173

In [10]:
mean_rating=review.groupby('reviewer_id').mean()

In [11]:
mean_rating=mean_rating.reset_index()

In [12]:
mean_rating=mean_rating.rename(columns={'rating':'rating_offset'})

In [13]:
review.reset_index(inplace=True)

In [14]:
rating_normal=pd.merge(review,mean_rating,how='left',on='reviewer_id')

In [15]:
rating_normal['nrating']=rating_normal['rating']-rating_normal['rating_offset']

In [16]:
rating_normal

         reviewer_id  reviewed_item_id  rating  rating_offset   nrating
0                  1                 4     5.0       4.993644  0.006356
1                  1                 6     5.0       4.993644  0.006356
2                  1                14     5.0       4.993644  0.006356
3                  1                20     5.0       4.993644  0.006356
4                  1                27     5.0       4.993644  0.006356
5                  1                38     5.0       4.993644  0.006356
6                  1               122     5.0       4.993644  0.006356
7                  1               126     5.0       4.993644  0.006356
8                  1               187     5.0       4.993644  0.006356
9                  1               193     5.0       4.993644  0.006356
10                 1               210     5.0       4.993644  0.006356
11                 1               213     5.0       4.993644  0.006356
12                 1               221     5.0       4.993644  0.006356
13                 1               230     5.0       4.993644  0.006356
14                 1               270     5.0       4.993644  0.006356
15                 1               280     5.0       4.993644  0.006356
16                 1               350     5.0       4.993644  0.006356
17                 1               417     5.0       4.993644  0.006356
18                 1               419     5.0       4.993644  0.006356
19                 1               448     5.0       4.993644  0.006356
20                 1               536     5.0       4.993644  0.006356
21                 1               569     5.0       4.993644  0.006356
22                 1               680     5.0       4.993644  0.006356
23                 1               808     5.0       4.993644  0.006356
24                 1               837     5.0       4.993644  0.006356
25                 1               869     5.0       4.993644  0.006356
26                 1               880     5.0       4.993644  0.006356
27                 1               916     5.0       4.993644  0.006356
28                 1               938     5.0       4.993644  0.006356
29                 1               958     5.0       4.993644  0.006356
...              ...               ...     ...            ...       ...
1224487      3441584            387877     5.0       5.000000  0.000000
1224488      3441601            180023     5.0       5.000000  0.000000
1224489      3441627            387861     5.0       5.000000  0.000000
1224490      3441637            275090     5.0       5.000000  0.000000
1224491      3441647            387885     5.0       5.000000  0.000000
1224492      3441698            275728     5.0       5.000000  0.000000
1224493      3441701            155173     5.0       5.000000  0.000000
1224494      3441705            275728     5.0       5.000000  0.000000
1224495      3441711            156359     4.0       4.000000  0.000000
1224496      3441714            314507     5.0       5.000000  0.000000
1224497      3441729               942     4.0       4.000000  0.000000
1224498      3441729            290330     4.0       4.000000  0.000000
1224499      3441730            242903     5.0       5.000000  0.000000
1224500      3441736             11685     5.0       5.000000  0.000000
1224501      3441738            387913     5.0       5.000000  0.000000
1224502      3441742            311413     5.0       5.000000  0.000000
1224503      3441744            189157     5.0       5.000000  0.000000
1224504      3441747            327340     4.0       4.000000  0.000000
1224505      3441753            156359     5.0       5.000000  0.000000
1224506      3441755            293868     2.0       2.000000  0.000000
1224507      3441765            156359     3.0       3.000000  0.000000
1224508      3441787            269399     5.0       5.000000  0.000000
1224509      3441800            340314     4.0       4.000000  0.000000
1224510      3441803            280521     5.0       5.000000  0.000000
1224511      3441808            387926     5.0       5.000000  0.000000
1224512      3441817            156359     5.0       5.000000  0.000000
1224513      3441820            198524     5.0       5.000000  0.000000
1224514      3441822            384197     5.0       5.000000  0.000000
1224515      3441828            387936     5.0       5.000000  0.000000
1224516      3441837            156359     2.5       2.500000  0.000000

[1224517 rows x 5 columns]

In [17]:
rating_normal[rating_normal['nrating']<0]

         reviewer_id  reviewed_item_id  rating  rating_offset   nrating
192                1              8861     4.0       4.993644 -0.993644
337                1             13569     3.0       4.993644 -1.993644
474                2                21     3.0       3.547194 -0.547194
475                2                34     3.0       3.547194 -0.547194
476                2                35     3.0       3.547194 -0.547194
478                2               743     2.0       3.547194 -1.547194
484                2              1621     3.0       3.547194 -0.547194
486                2              1918     2.0       3.547194 -1.547194
489                2              2587     2.0       3.547194 -1.547194
490                2              2631     3.0       3.547194 -0.547194
491                2              2762     3.0       3.547194 -0.547194
493                2              2851     3.0       3.547194 -0.547194
497                2              2926     3.0       3.547194 -0.547194
498                2              2941     2.0       3.547194 -1.547194
502                2              2954     3.0       3.547194 -0.547194
503                2              3466     3.0       3.547194 -0.547194
510                2              3534     3.0       3.547194 -0.547194
512                2              3577     3.0       3.547194 -0.547194
513                2              3612     3.0       3.547194 -0.547194
514                2              3826     3.0       3.547194 -0.547194
515                2              5027     3.0       3.547194 -0.547194
516                2              5710     2.0       3.547194 -1.547194
526                2              7835     3.0       3.547194 -0.547194
527                2              8050     3.0       3.547194 -0.547194
528                2              8072     3.0       3.547194 -0.547194
529                2              8143     3.0       3.547194 -0.547194
530                2              8219     3.0       3.547194 -0.547194
531                2              8300     3.0       3.547194 -0.547194
532                2              8404     3.0       3.547194 -0.547194
537                2              8946     2.0       3.547194 -1.547194
...              ...               ...     ...            ...       ...
1223955      3437248            323077     3.0       3.500000 -0.500000
1223968      3437375             14567     4.0       4.500000 -0.500000
1223981      3437445            276196     4.0       4.500000 -0.500000
1224020      3437701              2807     3.0       3.888889 -0.888889
1224023      3437701             52620     3.0       3.888889 -0.888889
1224028      3437701            363122     3.0       3.888889 -0.888889
1224031      3437714             24405     1.0       2.666667 -1.666667
1224032      3437714            188165     2.0       2.666667 -0.666667
1224042      3437773            247593     3.0       3.500000 -0.500000
1224046      3437796            138091     4.0       4.250000 -0.250000
1224049      3437796            289589     3.0       4.250000 -1.250000
1224054      3437817            387093     1.0       3.666667 -2.666667
1224062      3437890            117954     3.0       3.500000 -0.500000
1224079      3437949            381020     3.0       4.666667 -1.666667
1224108      3438148            241306     4.0       4.666667 -0.666667
1224137      3438357              8201     4.0       4.666667 -0.666667
1224146      3438393            301379     4.0       4.800000 -0.800000
1224154      3438429            387247     4.0       4.500000 -0.500000
1224204      3438795             28818     4.0       4.666667 -0.666667
1224215      3438944             16556     4.0       4.500000 -0.500000
1224273      3439336            358486     3.0       4.000000 -1.000000
1224277      3439367            260064     4.0       4.500000 -0.500000
1224321      3439734             16689     2.0       3.625000 -1.625000
1224323      3439734            158812     3.0       3.625000 -0.625000
1224325      3439734            357225     3.0       3.625000 -0.625000
1224332      3439749            289648     4.0       4.800000 -0.800000
1224388      3440387            146950     4.0       4.333333 -0.333333
1224390      3440387            265117     4.0       4.333333 -0.333333
1224413      3440661            296289     3.0       4.714286 -1.714286
1224458      3441273            216894     4.0       4.500000 -0.500000

[449576 rows x 5 columns]

In [18]:
minR=rating_normal.nrating.min()
maxR=rating_normal.nrating.max()

In [19]:
rating_normal['prating']=(rating_normal['nrating']-minR)/(maxR-minR)

In [20]:
rating_normal=rating_normal[['reviewer_id','reviewed_item_id','prating']]

In [21]:
rating_normal=rating_normal.rename(columns={'reviewer_id':'user_id','reviewed_item_id':'restaurant_id','prating':'rating'})

In [22]:
rating_normal.to_csv('user_res_rating_df.csv',index=False)